@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Salut ! Je suis fier de mon travail : ça a été difficile, mais j'ai persévéré et appris beaucoup en chemin.
    </h1>
    <p>
        Cette application est le fruit d'efforts, de patience et de passion.
        Découvrez comment <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core permet de créer des applications Web modernes et puissantes</a>.
    </p>
    <p>
        Chaque ligne de code ici reflète ma détermination à aller au bout des projets que j'entreprends.
    </p>
</div>
